<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongchen.mapper.UserMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 user_id AS userId, user_name AS userName, nick_name AS nickName, user_password AS userPassword, create_time AS createTime, user_status AS userStatus, department_id AS departmentId
	</sql>

</mapper>